{% for item in attributes_price %}
<div class="price-table desktop">
    <div class="price-table-slider-description">
        <div class="price-table-info">
            <table>
                <thead>
                <tr>
                    <th>
                        <div class="slider-box">
                            <div class="room-name">
                                <a href="{{ item.room.getLink() }}">{{ item.name }}</a>
                                <a href="{{ path('site/page', {'alias' : 'booking'}) }}#{{ item.name }}" class="btn-booking">
                                    Отправить запрос
                                </a>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="description">
                            <div class="description-title">
                                {{ settings.col_name|raw }}
                            </div>
                        </div>
                    </th>
                    {% for item in attributes_array %}
                        <th>{{ item.name }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        {% if item.gallery.galleryImages %}
                        <div class="slider-box gallery">
                            <div class="slider">
                                {% for image in item.gallery.galleryImages %}
                                <div class="slider-item">
                                    <a href="/userfiles/gallery/{{ image.gallery_id }}/{{ image.basename }}.{{ image.ext }}">
                                        <img src="{{ image.getForPrice() }}" alt="{{ image.alt }}" title="{{image.title }}">
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="zoom">
                                <img src="/img/zoom.png" alt="image">
                            </div>
                        </div>
                        {% endif %}
                    </td>
                    <td>
                        <div class="description">
                            <div class="square">
                                <div>
                                    <img src="/userfiles/price_icons/{{ item.image }}" class="icon icon-people" alt="{{ item.name }}">
                                </div>
                                <div>
                                    <svg class="icon icon-square">
                                        <use xlink:href="../img/sprites/sprite.svg#square"></use>
                                    </svg>
                                    <span>{{ item.square }} м<sup>2</sup></span>
                                </div>
                            </div>
                            <div class="include">
                                {{ item.description|raw }}
                            </div>
                        </div>
                    </td>
                    {% for price in item.priceDatesVias %}
                        <td>
                            {% if price.popup %}
                                <a href="{{ path('price/get-price-popup', {'priceId': price.price_id, 'priceDateId': price.price_dates_id}) }}" class="as-link awe-ajax">{{ price.value| raw }}</a>
                            {% else %}
                                <div class="as-link">{{ price.value| raw }}</div>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endfor %}

<style>
    .price-table .btn-booking {
        background-color: {{ settings.color_head_btn }}
    }
    .price-table.desktop .slider-box {
        background-color: {{ settings.color_first }}
    }

    .price-table .price-table-info table td:nth-child(2) {
        background-color: {{ settings.color_third }}
    }
    .price-table .price-table-info table th:nth-child(2) {
        background-color: {{ settings.color_second }}
    }
    .price-table td:nth-child(2n+1), .price-table th:nth-child(2n+1) {
        background-color: {{ settings.color_fourth }}
    }
    .price-table td:nth-child(2n), .price-table th:nth-child(2n) {
        background-color: {{ settings.color_five }}
    }
    {% if settings.color_border %}
    .price-table th,.price-table td {
        border: 1px solid{{ settings.color_border }}
    }
    {% endif %}
</style>