<table class="table__price hidden-xs" cellspacing="0">
    <tr>
        <th>Номера</th>
        {% for item in attributes_array %}
            <th>{{ item.name }}</th>
        {% endfor %}
    </tr>
    {% for item in attributes_price %}
        <tr>
            <td>
                <div class="title">
                    <img src="/userfiles/price_icons/{{ item.image }}" alt="{{ item.name }}">
                    <a href="{{ item.room.getLink() }}">{{ item.name }}</a>
                </div>
                <div class="desc">
                    {{ item.description| raw }}
                </div>
                {% if item.gallery.galleryImages %}
                    <div class="gallery">
                        {% for image in item.gallery.galleryImages %}
                            <a href="/userfiles/gallery/{{ image.gallery_id }}/{{ image.basename }}.{{ image.ext }}">
                                <img src="/userfiles/gallery/{{ image.gallery_id }}/{{ image.basename }}_thumb.{{ image.ext }}" alt="{{ image.alt }}" title="{{image.title }}">
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="btn__box-order">
                    <div><a href="{{ path('site/page', {'alias' : 'booking'}) }}#{{ item.name }}">Отправить запрос</a></div>
                </div>
                <!-- /.btn__box-order -->
            </td>
            {% for price in item.priceDatesVias %}
                <td>{{ price.value| raw }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

<table class="table__price visible-xs">
    {% for item in attributes_price %}
        <tr>
            <th colspan="2"><a href="{{ item.room.getLink() }}">{{ item.name }}</a></th>
        </tr>
        {% for attribute in attributes_array %}
            <tr>
                <td>{{ attribute.name }}</td>
                <td>{{ price_dates_vias[item.id~'_'~attribute.id]| raw }}</td>
            </tr>
        {% endfor %}
    {% endfor %}
</table>

<style>
    .table__price tr th, .table__price tr td .btn__box-order {
        background-color: {{ settings.color_head_btn }}
    }
    {% if settings.color_head_btn %}
    .table__price tr td .btn__box-order {
        background-image: none;
        border: none;
    }
    {% endif %}
    .table__price tr td {
        background-color: {{ settings.color_third }}
    }
    .table__price tr:nth-child(2n) td {
        background-color: {{ settings.color_second }}
    }
    .table__price tr:nth-child(2n) td:nth-child(2n) {
        background-color: {{ settings.color_first }}
    }
    .table__price tr td:nth-child(2n) {
        background-color: {{ settings.color_fourth }}
    }
    {% if settings.color_border %}
    .table__price, .table__price th,.table__price td {
        border: 1px solid{{ settings.color_border }}
    }
    {% endif %}
</style>