<!-- GALLERY -->
<section class="section-gallery bg-white">

    <div class="gallery  no-padding">
        {% if not showBtn %}
        {{ app.params['blocks']['name_gallery_in_main']|raw }}
        {% endif %}

        <!-- FILTER -->
        <div class="gallery-cat text-center">
            <ul class="list-inline">
                {#<li class="active"><a href="#" data-filter="*">Все фотографии</a></li>#}
                {% for item in galleries %}
                <li{% if loop.index == 1 %} class="active"{% endif %}><a href="#" data-filter=".gallery__id-{{ item.id }}">{{ item.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <!-- END / FILTER -->

        <!-- GALLERY CONTENT -->
        <div class="gallery-content">
            <div class="row">
                <div class="gallery-isotope col-6 pd-0">

                    <!-- ITEM SIZE -->
                    <div class="item-size"></div>
                    <!-- END / ITEM SIZE -->

                    {% for item in galleries %}
                        {% for image in item.galleryImages %}
                        <div class="item-isotope item-isotope suite gallery__id-{{ item.id }}">
                            <div class="gallery_item">
                                <a href="/userfiles/gallery/{{ item.id }}/{{ image.basename }}.{{ image.ext }}" class="gallery-popup mfp-image" title="{{ image.name }}">
                                    <img src="/userfiles/gallery/{{ item.id }}/{{ image.basename }}_thumb.{{ image.ext }}" alt="{{ image.alt }}">
                                </a>
                                {% if image.name %}
                                    <div class="text">{{ image.name }}</div>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    {% endfor %}

                </div>
            </div>

            {% if not showBtn %}
            <div class="our-gallery text-center">
                <a href="{{ path('site/page', {'alias': 'gallery'}) }}" class="awe-btn awe-btn-default">Перейти к галерее</a>
            </div>
            {% endif %}

        </div>
        <!-- GALLERY CONTENT -->

    </div>
</section>
<!-- END / GALLERY -->
