{{ this.registerJsFile('https://www.google.com/recaptcha/api.js?hl=ru&amp;onload=onLoadCaptchaCallback') }}
{% set activeForm = active_form_begin({
    'action' : '/send-calculation-form',
    'id': 'calculate__form',
    'options': {
        'class': 'guest-book-form'
    }
}) %}
<div class="title">Форма расчета проживания</div>
<div class="alert__box"></div>
<!-- /.alert__box -->
{{ activeForm.field(calculate, 'fio', {'options': {'class': 'form-field'}}).textInput({'class': 'field-text', 'placeholder': 'Имя'}).label(false)| raw }}
{{ activeForm.field(calculate, 'phone', {'options': {'class': 'form-field'}}).textInput({'class': 'field-text', 'placeholder': 'Номер телефона'}).label(false)| raw }}
{{ activeForm.field(calculate, 'email', {'options': {'class': 'form-field'}}).textInput({'class': 'field-text', 'placeholder': 'E-mail'}).label(false)| raw }}
{{ activeForm.field(calculate, 'room', {'options': {'class': 'form-field'}}).textInput({'class': 'field-text', 'placeholder': 'Название номера'}).label(false)| raw }}
{{ activeForm.field(calculate, 'dateIn', {'options': {'class': 'form-field date'}}).textInput({'class': 'field-text', 'placeholder': 'Дата заезда'}).label(false)| raw }}
{{ activeForm.field(calculate, 'dateOut', {'options': {'class': 'form-field date'}}).textInput({'class': 'field-text', 'placeholder': 'Дата выезда'}).label(false)| raw }}
{{ activeForm.field(calculate, 'countAdults', {'options': {'class': 'form-field'}}).textInput({'class': 'field-text', 'placeholder': 'Количество взрослых'}).label(false)| raw }}
{{ activeForm.field(calculate, 'countChildren', {'options': {'class': 'form-field'}}).textInput({'class': 'field-text', 'placeholder': 'Количество детей'}).label(false)| raw }}
{{ activeForm.field(calculate, 'ageChildren', {'options': {'class': 'form-field'}}).textInput({'class': 'field-text', 'placeholder': 'Возраст детей'}).label(false)| raw }}
<div class="center_block">
    <label>Отметьте капчу *</label>
    <div class="g-recaptcha" data-sitekey="{{ app.params['settings']['g_public_key'] }}"></div>
</div>

<div class="form-field">
    {{ html.submitButton('Отправить запрос', {'class': 'awe-btn awe-btn-13'})| raw }}
</div>
{{ active_form_end() }}